@font-face {
    font-family: 'HankenGrotesk';
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#container {
    display: flex;
    background-color: black;
}

#card-result {
    height: 400px;
    width: 400px;
    border-radius: 25px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    margin-left: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#card-detail {
    height: 400px;
    width: 400px;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    margin-right: auto;
}

.circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.circle > p{
    margin: 0px;
    font-size: 18px;
    font-family: 'HankenGrotesk';
}

.circle > .points {
    font-size: 48px;
    font-weight: bold;
    color: white;
}

#card-result > .tittle{
    margin-top: 30px;
}

#card-result > p{
    margin-bottom: auto;
}

* {
    font-family: 'HankenGrotesk';
}